#jumboStyle {
    background: url('https://st2.depositphotos.com/1017228/7475/i/950/depositphotos_74753515-stock-photo-businessman-shrugging-shoulders.jpg');
    background-size: center;
    color: white
    text-align: fixed;
    font-family: 'Oleo Script';
